{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}


{% block baniere %}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light">
        <div class="row p-2">
            <div class="col-md-4">
                <h3>Mon compte</h3>
                {% include "account/_menu.html.twig" %}
            </div>
                  </div>
        </div>
    </div>
{% endblock %}
