
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/public/asset/uploads/images/categorie/*
/public/asset/uploads/images/plat/*
!/public/asset/uploads/images/categorie/.gitkeep
!/public/asset/uploads/images/plat/.gitkeep
!/public/asset/uploads/images/categorie/image-fixture.jpg
!/public/asset/uploads/images/plat/image-fixture.jpg
###< symfony/asset-mapper ###


