        <!-- BANNIERE -->
        <div class="container-items position-relative d-flex justify-content-center align-items-center">
            <img class="card-img position-relative" src="{{ asset('asset/img/banniere_1920.jpg')}}" alt="jeune femme dégustant son repas au restaurant le district">    
            <div class="text-banniere position-absolute">
                <h5 class="card-title text-white">Restaurant le district</h5>
                <p class="card-text text-white">“Bien manger, un plaisir à partager ”</p>
    
                <!-- search -->
    
                <div class="input-group input-group-sm mb-1 justify-content-center d-flex">
                    <!-- formulaire recherche -->
                    <form action="plats.php" method="get" class="d-flex w-100">
                        <input type="text" name="search" placeholder="rechercher un plat ..." 
                            value="" 
                            class="">
                        <input type="submit" class="btn btn-light btn-sm text-secondary" value="Rechercher">
                    </form>
                </div>
    
    
            </div>
            </div>
    