    <!-- QUALITE RESTAURANT -->
    <!-- Condition affichage logo -->
    <div class="container-fluid container-district">
        <div class="row d-flex justify-content-center text-center text-white p-3">
            <div class="col-4">
                <img src="assets/svgs/fish.svg" alt="" class="label-food mb-3">
                <span class="title d-block">Premium Quality</span>
            </div>
            <div class="col-4">
                <img src="assets/svgs/vegetables.svg" alt="" class="label-food mb-3">
                <span class="title d-block">Seasonal Vegetables</span>
            </div>
            <div class="col-4">
                <img src="assets/svgs/fruit.svg" alt="" class="label-food mb-3">
                <span class="title d-block">Fresh Fruit</span>
            </div>
        </div>
    </div>
